@{
    ViewData["Title"] = "How does this Blog Works?";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome to Personal Blog Project Info Page</h1>
        <a href="https://roadmap.sh/projects/personal-blog">See the Official Page here</a>
        <div>
            <h2>Guest Section</h2>
            <p>A list of pages that can be accessed by anyone</p>
            <div>
                <h3>Home Page</h3>
                <p>This page will display the list of articles published on the blog.</p>
            </div>
            <div>
                <h3>Article Page</h3>
                <p>This page will display the content of the article along with the date of publication.</p>
            </div>
            <img src="E:/repositories/zPersonale/backend projects/backend-projects/Beginner-projects/PersonalBlog/Images/infoUser.png"/>    
        </div>
    </div>
</div>
