@*
    Admin dashboard
*@
@{
    ViewData["Title"] = "AdminDashboard";
}


<div>
    <h1>Admin Dashboard</h1>
    <div>
        <a asp-action="AddArticle" class="btn btn-success">Add New Article</a>
        <a asp-action="ShowArticlesAdmin" class="btn btn-primary">View Published Articles</a>
    </div>
</div>
